@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input {
  color: black;
}

.banner {
  display: block;

  width: 92vw;
  margin: 14px auto;
  padding: 10px 0;
  font-weight: 600;
}
.delete-button {
  background-color: red;
  color: white;
  border-color: white;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
